.todo_card {
  width: 80%;
  margin: 1rem auto;
  background-color: #19976a !important;
  border-radius: 1.8rem !important;
  display: flex !important;
  flex-direction: column;
}

.todo_card_title {
  font-size: 25px !important;
  color: white !important;
}

.todo_card_subtitle {
  margin: 1rem 0 !important;
  font-size: 18px !important;
  color: white !important;
}

.todo_card_content {
  color: white !important;
  font-size: 16px !important;
}
